<div class="form-group">
	<label for="name" class="col-sm-2 control-label">Name</label>
	<div class="col-sm-10">
		<input id="name" type="text" ng-model="activity.name" class="form-control">
	</div>
</div>

<div class='container-fluid' ng-controller="ActivityTypeSearch">

    <h4>Asynchronous results</h4>
    <pre>Model: {{asyncSelected | json}}</pre>
    <input type="text" ng-model="asyncSelected" placeholder="Activity Type" uib-typeahead="activity_type.name for activity_type in searchActivityType($viewValue)" typeahead-loading="loading" typeahead-no-results="noResults" class="form-control">
    <i ng-show="loading" class="glyphicon glyphicon-refresh"></i>
    <div ng-show="noResults">
      <i class="glyphicon glyphicon-remove"></i> No Results Found
    </div>

</div>

<br>
<br>

<button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>