<h1>{{selected_date | date:'longDate'}}</h1>

<div class="white-bg fdb-box text-center">
  <div class="datepicker datepicker-inline mx-auto mb-4" id="my-datepicker"></div>
  <button type="button" class="btn btn-outline-secondary" ng-click="previousDay()">Previous</button>
  <button type="button" class="btn btn-outline-secondary" ng-click="nextDay()">Next</button>
</div>

<div class="table-responsive white-bg mt-4">
  <table class="table" ng-show="day.id">
    <thead class="thead-dark">
      <tr>
        <th>Time</th>
        <th>End</th>
        <th>Activity</th>
        <th>Description</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody ng-repeat="life_entry in day.life_entries | orderBy:'start_time'">
      <tr ng-repeat="life_entry_activity in life_entry.life_entry_activities">
          <td>{{$index==0 ? (life_entry.start_time | limitTo: 5) : ""}}</td>
          <td>{{$index==0 ? (life_entry.end_time | limitTo: 5) : ""}}</td>
          <td>{{life_entry_activity.activity.name}} <span ng-show="life_entry_activity.quantity>1" class="badge">{{life_entry_activity.quantity}}</span></td>
          <td>{{life_entry_activity.description}}</td>
          <td>{{life_entry_activity.rating}} <span ng-show="life_entry_activity.rating" class="glyphicon glyphicon-star"></span></td>
      </tr>
    <tbody>
  </table>

  <p ng-hide="day.id">There are no data for that day. Click the <mark>Create</mark> button to enter data.</p>
</div>

<div class="text-right mt-4 ng-scope" ng-hide="day.id">
    <button type="button" class="btn btn-primary" ng-click="newDay()">Create</button>
</div>

<div class="card mt-4 white-bg" ng-show="day.note">
  <p class="card-body mb-auto">Exemple of note</p>
</div>

<div class="text-right mt-4 ng-scope" ng-show="day.id">
    <button type="button" class="btn btn-primary" ng-click="editDay(day.id)">Edit</button>
</div>