<table class="table activitytable">
    <tr>
        <td><h3>{{day.date}}</h3></td>
        <td></td>
    </tr>

	<tbody ng-repeat="life_entry in day.life_entries">
		<tr>
			<td>{{life_entry.start_time}}</td>
			<td>{{life_entry.end_time}}</td>
			 <td>
            <a class="btn btn-primary" ng-click="editLifeEntry(life_entry.id)">Edit</a>
        </td>
		</tr>
		<tr ng-repeat="life_entry_activity in life_entry.life_entry_activities">
			<td>{{life_entry_activity.activity.activity_type.name}}</td>
			<td>{{life_entry_activity.activity.name}}</td>
			<td>{{life_entry_activity.description}}</td>
		</tr>
	<tbody>
</table>

<div class="form-group">
	<label for="note" class="col-sm-2 control-label">Note</label>
	<div class="col-sm-10">
		<input id="note" type="text" ng-model="day.note" class="form-control">
	</div>
</div>

<a ng-click="newLifeEntry()" class="btn-primary btn-lg nodecoration">Create Life Entry</a>

<br>
<br>

<button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>