<div class="form-group">
	<label class="col-sm-2 control-label">Start Time</label>
	<div class="col-sm-10">
		<input type="time" ng-model="$parent.start_date" placeholder="HH:mm" ng-change="changeDate($value)" required />
	</div>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">End Time</label>
	<div class="col-sm-10">
		<input type="time" ng-model="$parent.end_date" placeholder="HH:mm" />
	</div>
</div>

<table class="table lifeentryactivitytable">
	<tbody ng-repeat="life_entry_activity in life_entry.life_entry_activities">
		<tr>
			<td>{{life_entry_activity.activity.activity_type.name}}</td>
			<td>{{life_entry_activity.activity.name}}</td>
			<td>{{life_entry_activity.description}}</td>
			 <td>
            <a class="btn btn-primary" ng-click="editLifeEntryActivity(life_entry_activity.id)">Edit</a>
        </td>
		</tr>
	<tbody>
</table>

<a ng-click="newLifeEntryActivity()" class="btn-primary btn-lg nodecoration">Add New Life Entry Activity</a>
<a class="btn btn-danger" ng-click="deleteLifeEntry(life_entry)">Delete</a>

<br>
<br>

<button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>